<%= provide :title, t(".title") %>

<div class="user_signup_class">
  <div class="form_login">
    <h1><%= t ".title" %></h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <%= f.label :email %>
      <%= f.email_field :email, required: :true %>

      <%= f.label :name, t(".name") %>
      <%= f.text_field :name, required: :true %>

      <%= f.label :phone, t(".phone") %>
      <%= f.text_field :phone, required: :true %>

      <%= f.label :address_default, t(".address_default") %>
      <input id="address_default" name="address_default" type="text" />

      <%= f.label :password, t(".password_label") %>
      <%= f.password_field :password, required: :true %>

      <%= f.label :password_confirmation, t(".password_confirmation") %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span><%= t ".remember_me" %></span>
      <% end %>
      <%= f.submit t(".submit"), class: "btn btn-primary" %>
      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>
