<section class="product spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-7">
        <div class="filter__item">
          <div class="row">
            <div class="col-lg-4 col-md-5">
              <div class="filter__sort">
                <div class="header">
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-6">
                        <nav class="header__menu">
                          <ul>
                            <li><h5><%= link_to t("shared.sort_by"), "#" %></h5>
                              <ul class="header__menu__dropdown">
                                <li>
                                  <%= sort_link(@search, :name, t("shared.name_sort")) %>
                                </li>
                                <li>
                                  <%= sort_link(@search, :updated_at, t("shared.date_sort")) %>
                                </li>
                              </ul>
                            </li>
                            <li>
                              <h6>
                                <span><%= @children_products.count %></span>
                                <%= t "shared.product_found" %>
                              </h6>
                            </li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
