<tr id="quantity_<%= product_detail.id %>">
  <td class="item">
    <div class="d-flex align-items-start">
      <div class="thumb-image">
        <%= image_tag load_image_path_product(product_detail.product_id)  %>
      </div>
      <div class="name_products">
        <%= product_detail.product_name %>
        <br>
        <%= product_detail.size %>
      </div>
    </div>
  </td>
  <td>
  <div class="update-quantity">
    <button class="minus manage_quantity">-</button>
    <input class="manage_quantity quantity"
      data-id="<%= product_detail.id %>"
      data-quantity="<%= product_detail.quantity %>"
      value="<%= quantity %>" />
    <button class="plus manage_quantity">+</button>
  </div>
  </td>
  <td><%= number_to_currency(product_detail.price, :unit => "") %> VND</td>
  <td class="font-weight-bold" id="price_of_one_proc">
    <%= number_to_currency(caculator_price_in_cart(product_detail.price, quantity), :unit => "") %> VND </td>
  <td>
    <%= link_to content_tag(:i, nil, class: "fa fa-trash fa-lg"),
        cart_path(product_detail.id),
        remote: true, method: :delete, class: "btn btn-danger",
        :data => {:confirm => t("shared.are_u_sure")} %>
  </td>
</tr>
