<% provide :title, t("title.order_details") %>
<div class="list-orders container-fluid" id="item_history_<%= @order.id %>">
  <div>
    <div class="status_order box-order">
      <h5><%= t "orders.new.status_order" %></h5>
      <%= @order.created_at.strftime("%d-%m-%Y") %> |
      <span class="status_of_order"><%= t("enums.order_status.#{@order.status}") %></span>
    </div>
    <div class ="address box-order">
      <h5><%= t "orders.new.order_address" %></h5>
      <div class="info">
        <span><%= @order.address.name %></span>
        <span><%= @order.address.phone %></span>
        <span><%= @order.address.address %></span>
      </div>
    </div>
    <div class="list-product box-order">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="text-uppercase header"><%= t "carts.index.product_name" %></th>
            <th scope="col" class="text-uppercase"><%= t "carts.index.quatity" %></th>
            <th scope="col" class="text-uppercase"><%= t "carts.index.price" %></th>
            <th scope="col" class="text-uppercase"><%= t "carts.index.total" %></th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_details.each do |odt|%>
            <%= render partial: "shared/item_order", locals: {product_detail: odt.product_detail, quantity: odt.quantity} %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="total-order box-order">
      <div>
        <div class="item">
        <span><%= t "carts.show.total_price" %></span>
        <span><%= number_to_currency(caculator_price_in_order @order) %></span>
      </div>
      <% if @order.waiting? %>
        <%= link_to t("orders.index.cancel"), @order, class: "btn btn-danger", data: { confirm: t("shared.are_u_sure") }, method: :delete %>
      <% end %>
      <% if @order.delivered? %>
        <%= link_to t("orders.index.success"), @order, class: "btn btn-success", data: { confirm: t("shared.are_u_sure") }, :method => :put %>
      <% end %>
    </div>
  </div>
</div>
