<div class="cart-page container">
  <div class="table-responsive">
    <h3 class="text-center title-cart"><%= t "carts.title" %></h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="text-uppercase header"><%= t "carts.index.product_name" %></th>
          <th scope="col" class="text-uppercase"><%= t "carts.index.quatity" %></th>
          <th scope="col" class="text-uppercase"><%= t "carts.index.price" %></th>
          <th scope="col" class="text-uppercase"><%= t "carts.index.total" %></th>
        </tr>
      </thead>
      <tbody id="list_product_in_cart">
        <% @products.each do |product_detail, quantity|%>
          <%= render partial: "shared/item_cart", locals: {product_detail: product_detail, quantity: quantity} %>
        <% end %>
      </tbody>
    </table>
    <div class="total_cart_order">
      <span class="item"><%= t ".total_price" %></span>
      <span class="item cart_total_price"><%= number_to_currency(cart_total_price_in_cart) %></span>
      <%= link_to t(".button_order"),new_order_path , class: "btn btn-danger" %>
    </div>
  </div>
</div>
