<%= provide :title, t(".title") %>

<div class="user_login_class">
  <div class="form_login">
    <h1><%= t ".title" %></h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, required: :true %>
      <%= f.label :password, t(".password_label") %>
      <%= link_to t(".forgot_password"), "#" %>
      <%= f.password_field :password, required: :true %>

      <% if devise_mapping.rememberable? %>
        <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>
          <span><%= t ".remember_me" %></span>
        <% end %>
      <% end %>

      <%= f.submit t(".submit"), class: "btn btn-primary" %>
    <% end %>
    <button class="btn btn-danger log_with_gg">
      <%= link_to t(".login_with_gg"), user_google_oauth2_omniauth_authorize_path, method: :post %>
    </button>
    <br/>
    <%= render "devise/shared/links" %>
  </div>
</div>
