<div class="container">
  <div class="hero__search">
    <div>
      <%= button_to t("admin.category.product"), admin_products_path, method: :get, class: "site-btn" %>
    </div>
    <div class="search_product_button">
     <%= button_to t("admin.category.add_new_category"), admin_categories_path, method: :post, class: "site-btn" %>
    </div>
    <div class="hero__search__form">
      <%= search_form_for @q, url: admin_categories_path, method: :GET do |f| %>
        <%= f.search_field :name_cont, placeholder: search_text %>
        <%= f.submit t("shared.search"), class: "site-btn btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
