<p>
  <%= t "devise.mailer.welcome" %>
  <%= @email %>!
</p>

<h4><%= t "devise.mailer.confirmation_instructions.subject" %></h4>

<p><%= t "devise.mailer.confirmation_instructions.content" %></p>

<p><%= link_to t("devise.mailer.confirmation_instructions.confirm"), confirmation_url(@resource, confirmation_token: @token) %></p>
