<p><%= t "devise.mailer.email_change.p1" %> <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t "devise.mailer.email_change.p2" %> <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= t "devise.mailer.email_change.p2" %> <%= @resource.email %>.</p>
<% end %>
