<p><%= t "devise.mailer.email_change.p1" %> <%= @resource.email %>!</p>

<p><%= t "devise.mailer.pass_reset.p2" %></p>

<p><%= link_to t("devise.mailer.pass_reset.p3"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t "devise.mailer.pass_reset.p4" %></p>
<p><%= t "devise.mailer.pass_reset.p5" %></p>
