<% provide :title, t("title.menu") %>
<section class="product spad">
  <div class="row">
    <%= render "shared/category" %>
    <div class="col-lg-9 col-md-7">
      <h2><%= t "index.all_menu" %></h2>
      <ul class="container">
        <%= render "shared/filter" %>
        <div class="row">
          <div class="col-lg-9 col-md-7">
            <div class="row">
              <%= render @pagy_children_products %>
            </div>
          </div>
        </div>
      </ul>
      <h6><%== pagy_bootstrap_nav @pagy %></h6>
    </div>
  </div>
</section>
