<section class="product-details spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="product__details__pic">
          <div class="product__details__pic__item">
              <%= image_tag "img/img_product/traSuaOolongTranChau.png", alt: "" , class: "product__details__pic__item--large" %>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="product__details__text">
          <h3>Tên sản phẩm</h3>
          <div class="product__details__rating">
            <span>(Lượng reviews)</span>
          </div>
          <div class="product__details__price">Giá sản phẩm</div>
          <p>Chi tiết sảm phẩm</p>
          <div class="product__details__quantity">
            <div class="quantity">
              <div class="pro-qty">
                <input type="text" value="1">
              </div>
            </div>
          </div>
          <%= link_to "Thêm vào giỏ", "#", class: "primary-btn" %>
          <ul>
            <li><b>Tình trạng</b> <span>Còn hàng</span></li>
            <li><b>Size</b> <span>M</span></li>
            <li><b>Chia sẻ</b>
              <div class="share">
                <%= link_to (root_path) do %>
                  <i class="fa fa-facebook"></i>
                <% end %>
                <%= link_to (root_path) do %>
                  <i class="fa fa-twitter"></i>
                <% end %>
                <%= link_to (root_path) do %>
                  <i class="fa fa-linkedin"></i>
                <% end %>
                <%= link_to (root_path) do %>
                  <i class="fa fa-pinterest-p"></i>
                <% end %>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
