<!-- <%= load_fisr_product %> -->
<section class="product-details spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="product__details__pic">
          <div class="product__details__pic__item">
              <%= image_tag "img/img_product/#{@product.image}", alt: "" , class: "product__details__pic__item--large" %>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="product__details__text">
          <div style="display: none;">
            <div id="div_stock"><%= t "product.stocking" %></div>
            <div id="div_outstock"><%= t "product.out_of_stock" %></div>
          </div>
          <h3><%= @product.name %></h3>
          <div class="product__details__rating">
            <span>(<%= t "product.sum_review" %>)</span>
          </div>
          <div class="product__details__price" id="price"><%= @load_first.price %> vnd</div>
          <div class="product__details__quantity">
            <div class="quantity">
              <div class="pro-qty">
                <input type="text" value="1">
              </div>
            </div>
          </div>
          <%= link_to t("product.add_cart"), "#", class: "primary-btn" %>
          <ul>
            <li><b><%= t "product.status" %></b> <span id="status"><%= @status_quantity %></span></li>
            <li><b><%= t "product.size" %></b>
              <% @product_details.each do |product_detail| %>
                <%= button_tag product_detail.size,
                    class: "size_onclick",
                    :onclick => "mychange(#{product_detail.price.to_s},
                                          #{product_detail.quantity.to_s})"%>
              <% end %>
            </li>
            <li><b><%= t "product.share" %></b>
              <div class="share">
                <%= link_to (root_path) do %>
                  <i class="fa fa-facebook"></i>
                <% end %>
                <%= link_to (root_path) do %>
                  <i class="fa fa-twitter"></i>
                <% end %>
                <%= link_to (root_path) do %>
                  <i class="fa fa-linkedin"></i>
                <% end %>
                <%= link_to (root_path) do %>
                  <i class="fa fa-pinterest-p"></i>
                <% end %>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
