<!-- <%= load_fisr_product %> -->
<section class="product-details spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="product__details__pic">
          <div class="product__details__pic__item">
              <%= image_tag "img/img_product/#{@product.image}", alt: "" , class: "product__details__pic__item--large" %>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="product__details__text">
          <div style="display: none;">
            <div id="div_stock"><%= t "product.stocking" %></div>
            <div id="div_outstock"><%= t "product.out_of_stock" %></div>
          </div>
          <h3><%= @product.name %></h3>
          <div class="product__details__rating">
            <span>(<%= t "product.sum_review" %>)</span>
          </div>
          <div class="product__details__price" id="price">
            <span class="price_of_product_details"><%= number_to_currency @product_details.first.price %></span>
          </div>

          <%= form_tag cart_path do %>
            <%= hidden_field_tag :product_detail_id, @product_details.first.id, id: "product_detail_id" %>
            <%= submit_tag t("product.add_cart"), class: "primary-btn" %>
          <% end %>
          <ul>
            <li><b><%= t "product.status" %></b> <span id="status"><%= @status_quantity %></span></li>
            <li><b><%= t "product.size" %></b>
              <div class="wrapper_product_details">
                <% @product_details.each do |product_detail| %>
                  <%= link_to change_size_path(product_detail.id), class: "check_a_tag_click", remote: true do %>
                    <% if product_detail.id == @product_details.first.id %>
                      <label class="active" for=<%= product_detail.size %>><%= product_detail.size %></label>
                    <% else %>
                      <label for=<%= product_detail.size %>><%= product_detail.size %></label>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </li>
            <li><b><%= t "product.share" %></b>
              <div class="share">
                <%= link_to (root_path) do %>
                  <i class="fa fa-facebook"></i>
                <% end %>
                <%= link_to (root_path) do %>
                  <i class="fa fa-twitter"></i>
                <% end %>
                <%= link_to (root_path) do %>
                  <i class="fa fa-linkedin"></i>
                <% end %>
                <%= link_to (root_path) do %>
                  <i class="fa fa-pinterest-p"></i>
                <% end %>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
