<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="header__top__left">
            <ul>
              <li><i class="fa fa-envelope"></i>troamilktea@mail.com</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="header__top__right">
            <div class="header__top__right__social">
              <%= link_to (root_path) do %>
                <i class="fa fa-facebook"></i>
              <% end %>
              <%= link_to (root_path) do %>
                <i class="fa fa-twitter"></i>
              <% end %>
              <%= link_to (root_path) do %>
                <i class="fa fa-linkedin"></i>
              <% end %>
              <%= link_to (root_path) do %>
                <i class="fa fa-pinterest-p"></i>
              <% end %>
            </div>
            <div class="header__top__right__language">
              <div><i class="fa fa-language"></i>
                   <%= t "header.languages" %></div>
              <ul>
                <li><%= link_to t("header.english"), locale:"en" %></li>
                <li><%= link_to t("header.vietnamese"), locale:"vi" %></li>
              </ul>
            </div>
            <% unless logged_in? %>
              <div class="header__top__right__auth">
                <%= link_to (login_path) do %>
                  <i class="fa fa-user"></i><%= t "header.login" %>
                <% end %>
              </div>
            <% else %>
              <% if admin %>
                <div class="header__top__right__auth">
                  <%= link_to (admin_path) do %>
                    <i class="fa fa-cog"></i><%= t "header.admin" %>
                  <% end %>
                </div>
              <% else %>
                <div class="header__top__right__auth">
                  <%= link_to (root_path) do %>
                    <i class="fa fa-user"></i><%= t "header.user" %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="header__logo">
          <%= link_to image_tag("img/logo.png"), root_path %>
        </div>
      </div>
      <div class="col-lg-6">
        <nav class="header__menu">
          <ul>
            <% if logged_in? && admin %>
              <li><%= link_to t("header.admin_page"), admin_path %></li>
            <% else %>
              <li><%= link_to t("header.home"), root_path %></li>
              <li><%= link_to t("header.menu"), products_path %></li>
              <li><%= link_to t("header.contact"), root_path %></li>
            <% end %>
            <% if logged_in? %>
              <li><%= link_to t("header.profiles"), root_path %>
                <ul class="header__menu__dropdown">
                  <% unless admin %>
                    <li><%= link_to t("header.account_Details"),
                            root_path %></li>
                    <li><%= link_to t("header.shoping_Cart"),
                            cart_path %></li>
                    <li><%= link_to t("header.list_Orders"),
                            orders_path %></li>
                  <% end %>
                  <li><%= link_to t("header.log_out"),
                          logout_path, method: "delete" %></li>
                </ul>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <%= render "shared/search" unless logged_in? && admin %>
</header>
