<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="header__top__left">
            <ul>
              <li><i class="fa fa-envelope"></i>troamilktea@mail.com</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="header__top__right">
            <div class="header__top__right__social">
              <%= link_to (root_path) do %>
                <i class="fa fa-facebook"></i>
              <% end %>
              <%= link_to (root_path) do %>
                <i class="fa fa-twitter"></i>
              <% end %>
              <%= link_to (root_path) do %>
                <i class="fa fa-linkedin"></i>
              <% end %>
              <%= link_to (root_path) do %>
                <i class="fa fa-pinterest-p"></i>
              <% end %>
            </div>
            <div class="header__top__right__language">
              <div><%= t "header.languages" %></div>
              <ul>
                <li><%= link_to t("header.english"), locale:"en" %></li>
                <li><%= link_to t("header.vietnamese"), locale:"vi" %></li>
              </ul>
            </div>
            <div class="header__top__right__auth">
              <%= link_to (login_path) do %>
                <i class="fa fa-user"></i><%= t "Login" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="header__logo">
          <%= link_to image_tag("img/logo.png"), root_path %>
        </div>
      </div>
      <div class="col-lg-6">
        <nav class="header__menu">
          <ul>
            <li class="active">
              <%= link_to t("header.home"), root_path %></li>
            <li>
              <%= link_to t("header.menu"), products_index_path %></li>
            <li>
              <%= link_to t("header.contact"), root_path %></li>
            <% if logged_in? %>
              <li><%= link_to t("header.profiles"), root_path %>
                <ul class="header__menu__dropdown">
                  <li><%= link_to t("header.account_Details"), root_path %></li>
                  <li><%= link_to t("header.shoping_Cart"), cart_path %></li>
                  <li><%= link_to t("header.list_Orders"), root_path %></li>
                  <li><%= link_to t("header.log_out"), logout_path, method: "delete" %></li>
                </ul>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
